body {
  padding: 0;
  margin: 0;
  background-color: #212121;
}
.mainSearch {
  height: 70vh;
}
.mainSearch .logo {
  height: 60%;
  width: 100%; 
  background: url(../img/main.png) no-repeat center/contain;
  color: transparent;
}
.search-field {
  display: block;
  width: 90%;
  margin: 0 auto;
  padding: 0.25em 1em;
  background-color: #111111;
  color: #959090;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1em;  
  outline: none;
  text-align: center;
  border: 2px groove #111111;
  -webkit-box-shadow: #000 1px 1px 10px inset;
  box-shadow: #000 1px 1px 10px inset;
}
.recentCities{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #959090;
}
.recentItem{ 
  margin: 1em;
  border-bottom: 1px dotted #959090;
  font-family: 'Josefin Sans', sans-serif;  
  cursor: pointer;
  text-decoration: none;
  color: #858484;
}
.forecastDetails{  
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  max-width: 500px;
  margin: 1em auto;
}
.input-hide {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.forecastDetails label{
  display: inline-block;
  border: 2px solid #090909;
  background-color: #191919;
  font-family: 'Josefin Sans', sans-serif;  
  font-size: 1.1em;
  padding: 0.2em 1em;
  color: #111;
  cursor: pointer;
 }
 input[name="toggleScale"]:checked + label{
  background-color: #111111;
  color: #858484;
  border: 2px groove #111111;
  -webkit-box-shadow: #000 1px 1px 10px inset;
  box-shadow: #000 1px 1px 10px inset;
}
.forecastPeriod{
  width: 150px;
  padding: 0 0.5em;
  background-color: #111111;
  color: #858484;
  font-family: 'Josefin Sans', sans-serif;  
  font-size: 1em;
  margin-left: auto;
  outline: none;
  border: 2px groove #111111;
   -webkit-box-shadow: #000 1px 1px 10px inset;
  box-shadow: #000 1px 1px 10px inset;
}
.mainForecast{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.mainForecastItem{
  width: 250px;
  margin-bottom:2em;
  padding: 1em;
  margin: 1em;
  color: #959090;
  background-color: #111111;
  -webkit-box-shadow: #222 1px 1px 10px inset;
  box-shadow: #222 1px 1px 10px inset; 
  border: 2px groove #111111;
   -webkit-box-shadow: #000 1px 1px 10px inset;
  box-shadow: #000 1px 1px 10px inset;
}
.summary{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-family: 'Josefin Sans', sans-serif;  
}
.summary img{
  width: 4em;
  height: 4em;
}
.avrTemperature{
  font-size: 2.5em;
  padding-left: 1.5em;
}
.description {
  font-size: 1.5em;
  margin: 0;
  margin-left: auto;
}

.details{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 1.5em auto 0.5em;
  font-family: 'Josefin Sans', sans-serif;  
}
@media screen and (min-width: 500px) {
  .mainSearch input, .secectDetails{
      width: 70%;
      font-size: 1.2em;
 }
}
@media screen and (min-width: 800px) {
  .mainSearch input, .secectDetails{
      width: 50%;
      max-width: 500px;
      font-size: 1.25em;
 }
}